body{
    margin: 0;
    font-family: "Roboto Light", serif;
}
.card{
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    flex: 1 1 100%;
}
.card h2 {
    font-size: 1.75rem;
    font-weight: 600;
}
.card p{
    font-size: 1rem;
    color: #555555;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.container a{
    text-decoration: none;
    color: #333333
}
.container a:hover{
    color: #0077CC;
    transform: scale(1.05);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}
.header{
    background-color: #D1D5DB;
    padding: 2rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.header h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 180px;
}
.sidenav{
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3f4145;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #D1D5DB;
}
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}
.sidenav a:hover {
    color: #0077CC;
}
.main{
    margin-left: 180px;
    padding: 0px 10px;
}