<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/DVLogo.svg}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Algorithm Demonstrations</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header"><h1>What is this website?</h1></header>
<div th:replace="~{fragments :: sidenav}"></div>
<div class="main">
    <p>This website is just a simple demonstration of a few common CS algorithms. It is currently mostly focused on the
    implementation of the website itself, more than it is on the algorithms, as this is a live demo of me building a
    website.</p>
    <h3>What tools were used to build this website?</h3>
    <ul>
        <li>ThymeLeaf</li>
        <li>SpringFramework</li>
        <li>HTML & CSS</li>
        <li>Java</li>
        <li>Some Javascript is being added as well!</li>
    </ul>
    <p>These are all pretty simple tools, and some are actually a bit old, but I wanted to implement the frontend and
    backend myself and in my own style. Thanks for reading this!</p>

</div>
</body>
</html>