<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sidenav" th:fragment="sidenav">
    <img th:src="@{/DVLogo.svg}" alt="My initials" class="sidenav-logo">

    <a th:href="@{/}">Algorithms</a>
    <a th:href="@{/about}">About this Site</a>
    <a th:href="@{/who-am-i}">Who am I?</a>

    <footer class="sidenav-footer">
        <a href="https://github.com/dvoss4-drewvoss12">My GitHub</a>
        <a href="https://www.linkedin.com/in/dvoss4/">My Linkedin</a>
    </footer>
</div>
<a th:fragment="algocard(lnk, title, desc)" th:href="@{${lnk}}" class="card">
    <h2 th:text="${title}">Card Title</h2>
    <p th:text="${desc}">Card Description</p>
</a>
</body>
</html>