<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/DVLogo.svg}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Algorithm Demonstrations</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
    <meta charset="UTF-8">
    <title>Title</title>
<body>
<header class="header"><h1>Who Am I??</h1></header>
<div th:replace="~{fragments :: sidenav}"></div>
</body>
<div class="main">
    <h3>Drew Voss</h3>
    <p>Hi! I am a junior double-majoring in Computer Science and Data Science. I am also completing a history certificate.
    I like to tinker and build many different things, and I have spent a lot of time picking up and learning hobbies.</p>
    <p>I am generally interested in becoming a software developer, and this project is just one of my projects that was
    complete enough to actually upload, though it is nowhere near complete.</p>
    <h4>Why does this page exist?</h4>
    <p>An about me page is a bit odd to have on a website about algorithms, but I included this as I am currently
    searching for an internship or work opportunity for 2026. I am a very ambitious person and willing to learn just
    about anything. My LinkedIn is available on this page, and it will cover a lot more about me. I work on a lot of
    things, but I chose to host this website, since I figured it would be a good demo of the fact that I can
    program a working front/backend. Thank you to anyone reading this!</p>
</div>
</html>